* {
	margin: 0;
	padding: 0;
	font-family: 'diandian';
}

@font-face {
	font-family: 'iconfont';
	/* project id 3431441 */
	src: url('');
	src: url('?#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_3431441_ots3q23cb99.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_3431441_ots3q23cb99.woff') format('woff'),
		url('//at.alicdn.com/t/font_3431441_ots3q23cb99.ttf') format('truetype'),
		url('#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--inner: white;
	--border: black;
	--button-padding-y: 16px;
	--button-padding-x: 32px;
}


@font-face {
	font-family: 'diandian';
	src: url('./fonts/diandian.woff');
}


/* body,
html {
    
} */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f7e8;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	flex-direction: column;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
	background-color: #62bfad;
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.4) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.4) 50%,
			rgba(255, 255, 255, 0.4) 75%,
			transparent 75%,
			transparent);
	border-radius: 3em;
}

::-webkit-scrollbar-track {
	background-color: #ffffff;
	border-radius: 3em;
}

::-webkit-scrollbar {
	width: 8px;
	height: 15px;
}

.body-box {
	padding: 10px 50px;
	border-radius: 15px;
	overflow: hidden;
	width: 60%;
}

.img-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.upload-btnbox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 2px 5px;
	background: #62bfad;
	border: 0px;
	color: #fff;
	position: relative;
	box-shadow: inset -2px 1px 1px 1px grey, inset -2px -1px 1px 1px lightgrey, inset 2px 0px 1px 1px lightgrey;
}

.fileinput-btn {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 24px;
	vertical-align: center;
	margin: 5px;
	margin-right: 0;
	color: #fff;
}

.upload-btn-text {
	margin: 5px;
}

.fileinput-btn input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	text-align: center;
	display: flex;
}

.center-upload-img {
	margin: 20px auto 10px;
	height: 200px;
	width: 200px;
	background: url(images/up1.gif);
	background-size: 100%;
	padding: 0;
	box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
}

.center-result {
	margin: 20px auto 5px;
	height: 210px;
	width: 210px;
	padding: 5px;
	box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
	background-size: 100%;
}

#myCanvas {
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 658px) {
	.box-title {
		font-size: 20px;
	}

	.body-box {
		width: 100%;
	}

	/* 	.tooltip .tooltiptext {
		visibility: hidden;
		width: 300px;
		background-color: rgba(0, 0, 0, 0.9);
		text-align: center;
		padding: 15px;
		left: -4.5px !important;
		top: -70px;
		position: absolute;
		box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
	} */
}


.bit-bar,
.error-bar,
.border-bar,
.url-input {
	margin: 10px auto;
}

.bar-title {
	margin: 5px 0;
}


.url-input input {
	height: 30px;
	box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
	;
}

.url-input input::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.container {
	position: relative;

}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 16px;
	/* border-radius: 5px; */
	/* 	background: rgba(0, 0, 0, 0.1); */
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border: ;
	box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	/* border: 1px solid #62bfad; */
	background-color: #62bfad;
	z-index: -2;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #62bfad;
	cursor: pointer;
}

.tooltip {
	position: relative;
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

.tooltip .tooltiptext {
	visibility: hidden;
	display: flex;
	width: 100%;
	background-color: #f9f7e8;
	text-align: center;
	padding: 15px;
	left: 0;
	bottom: 30px;
	position: absolute;
	box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.center {
	text-align: center;
}

.button-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.create-qr,
.download-qr {
	margin: 5px 9px;
}

.create-button,
.download-button {
	font-size: 15px;
	font-family: 'diandian', cursive;
	padding: 3px 7px;
	color: #fff;
	display: flex;
	text-align: center;
	background: #62bfad;
	border: 0px;
	position: relative;
	box-shadow: inset -2px 1px 1px 1px grey, inset -2px -1px 1px 1px lightgrey, inset 2px 0px 1px 1px lightgrey;
	justify-content: center;
	align-items: center;
	line-height: 2;
}

.upload-btnbox:hover {
	cursor: pointer;
	background-color: #62bfad;
}

.create-button:hover {
	cursor: pointer;
	background-color: #62bfad;
}

.download-button:hover {
	cursor: pointer;
	background-color: #62bfad;
}

.upload-btnbox:active {
	top: 3px;
	box-shadow:
		-2px 1px 1px 1px grey,
		-2px -1px 1px 1px lightgray,
		2px 0px 1px 1px lightgray;
}

.create-button:active {
	top: 3px;
	box-shadow:
		-2px 1px 1px 1px grey,
		-2px -1px 1px 1px lightgray,
		2px 0px 1px 1px lightgray;
}

.download-button:active {
	top: 3px;
	box-shadow:
		-2px 1px 1px 1px grey,
		-2px -1px 1px 1px lightgray,
		2px 0px 1px 1px lightgray;
}

.upload-btnbox::after {
	content: '';
	background: black;
	position: absolute;
	top: 0;
	width: 103%;
	height: 100%;
	z-index: -1;
}

.create-button::after {
	content: '';
	background: black;
	position: absolute;
	left: -2.5%;
	top: 0;
	width: 105%;
	height: 100%;
	z-index: -1;
}

.download-button::after {
	content: '';
	background: black;
	position: absolute;
	left: -2.5%;
	top: 0;
	width: 105%;
	height: 100%;
	z-index: -1;
}

.upload-btnbox::before {
	content: '';
	background: black;
	position: absolute;
	left: 0;
	width: 100%;
	height: 113%;
	z-index: -1;
}


.create-button::before {
	content: '';
	background: black;
	position: absolute;
	left: 0;
	top: -5%;
	width: 100%;
	height: 113%;
	z-index: -1;
}

.download-button::before {
	content: '';
	background: black;
	position: absolute;
	left: 0;
	top: -5%;
	width: 100%;
	height: 113%;
	z-index: -1;
}

.white-bg {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	text-align: center;
	margin-top: 6px;
}

input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.white-bg label {
  position: relative;
  margin-right: 16px;
  padding-left: 32px;
  padding-right: 16px;
  line-height: 26px;
  cursor: pointer;
  
}

.white-bg label::before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top:4px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
	box-shadow: 0 0px 0 0px var(--inner), 0px 0px 0 0px var(--inner), 0px 0px 0px 0px var(--inner), 0 0px 0px 0px var(--inner), 1px 0 0 1px var(--border), -2px 0 0 0px var(--border), 0 0px 0 0 var(--border), 0 1px 0 0 var(--border), 0 2px 0 0px var(--border), 0 -2px 0 0px var(--border);
    z-index: -1;
  }

input[type="checkbox"]:checked + label{
  padding-left: 16px;
  color: #000;
}

input[type="checkbox"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 23px;
    background: white;
  }

label,
label::before {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.box-title {
	margin: 20px;
	margin-top: 30px;
	font-family: 'diandian';
}

.footer {
	width: 100%;
	margin: 10px;
	padding: 20px;
}
